{% extends 'base.html' %}
{% load static %}
{%block content%}
    <div class="container">
        <div class="todo-app">
            <h2> Task(s) To Do<img src="{% static 'images/icon.png' %}" alt="Icon"/> </h2>
            <form method="post">
                {%csrf_token%}
            <div class="row" >
                
                {{form.task_name}}
                <button class="btn" type="submit">Add</button>
          
            </div>
        </form>
       {%for task in tasks%}
            <ul class="lists" id="lists" style="font-size: 25px;font-weight: bold;">
                <form>
              <input type="radio" style="height: 20px; width: 20px; margin-left:5px;" value="{{task.complete_task}}"> 
             {% if task.complete_task %}
             <span style="text-decoration: line-through;">  {{task.task_name}}</span>
             {%else%}
             <span>  {{task.task_name}}</span>
             {%endif%}
                </form>
              <br/>
            </ul>
            {%endfor%}
        </div>
    </div>

    {%endblock content%}


